In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("Dataset_1.csv")

In [3]:
df

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,min_salary,...,applies,remote_allowed,application_type,skills_desc,posting_domain,work_type,currency,compensation_type,normalized_salary,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,17.0,...,2.0,NaN,ComplexOnsiteApply,Requirements: \n\nWe are seeking a College or ...,NaN,FULL_TIME,USD,BASE_SALARY,38480.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,30.0,...,NaN,NaN,ComplexOnsiteApply,NaN,NaN,FULL_TIME,USD,BASE_SALARY,83200.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,45000.0,...,NaN,NaN,ComplexOnsiteApply,We are currently accepting resumes for FOH - A...,NaN,FULL_TIME,USD,BASE_SALARY,55000.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,140000.0,...,NaN,NaN,ComplexOnsiteApply,This position requires a baseline understandin...,NaN,FULL_TIME,USD,BASE_SALARY,157500.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,60000.0,...,NaN,NaN,ComplexOnsiteApply,NaN,NaN,FULL_TIME,USD,BASE_SALARY,70000.0,19057.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,3906267117,Lozano Smith,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,195000.0,YEARLY,"Walnut Creek, CA",56120.0,1.0,120000.0,...,NaN,NaN,ComplexOnsiteApply,NaN,NaN,FULL_TIME,USD,BASE_SALARY,157500.0,6013.0
123845,3906267126,Pinterest,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,NaN,NaN,United States,1124131.0,3.0,NaN,...,NaN,1.0,OffsiteApply,NaN,www.pinterestcareers.com,FULL_TIME,NaN,NaN,NaN,NaN
123846,3906267131,EPS Learning,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,NaN,NaN,"Spokane, WA",90552133.0,3.0,NaN,...,NaN,1.0,OffsiteApply,NaN,epsoperations.bamboohr.com,FULL_TIME,NaN,NaN,NaN,53063.0
123847,3906267195,Trelleborg Applied Technologies,Business Development Manager,The Business Development Manager is a 'hunter'...,NaN,NaN,"Texas, United States",2793699.0,4.0,NaN,...,NaN,1.0,ComplexOnsiteApply,NaN,NaN,FULL_TIME,NaN,NaN,NaN,NaN
123848,3906267224,Solugenix,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,75000.0,YEARLY,"San Juan Capistrano, CA",43325.0,2.0,70000.0,...,NaN,NaN,ComplexOnsiteApply,NaN,NaN,FULL_TIME,USD,BASE_SALARY,72500.0,6059.0

In [4]:
df.isnull().sum()

job_id                      0
company_name             1719
title                       0
description                 7
max_salary              94056
pay_period              87776
location                    0
company_id               1717
views                    1689
min_salary              94056
formatted_work_type         0
applies                100529
remote_allowed         108603
application_type            0
skills_desc            121410
posting_domain          39968
work_type                   0
currency                87776
compensation_type       87776
normalized_salary       87776
fips                    27415
dtype: int64

In [5]:
# job_id                      0
# company_name             1719
# title                       0
# description                 7
# max_salary              94056
# pay_period              87776
# location                    0
# company_id               1717
# views                    1689
# min_salary              94056
# formatted_work_type         0
# applies                100529
# remote_allowed         108603
# application_type            0
# skills_desc            121410
# posting_domain          39968
# work_type                   0
# currency                87776
# compensation_type       87776
# normalized_salary       87776
# fips                    27415

In [9]:
df[["company_name"]].isnull().sum()

company_name    1719
dtype: int64

In [16]:
df[["company_name"]].fillna("Unknown" )

                           company_name
0                 Corcoran Sawyer Smith
1                               Unknown
2                The National Exemplar
3                Abrams Fensterman, LLP
4                               Unknown
...                                 ...
123844                     Lozano Smith
123845                        Pinterest
123846                     EPS Learning
123847  Trelleborg Applied Technologies
123848                        Solugenix

[123849 rows x 1 columns]

In [14]:
df[["company_name"]].isnull().sum()

company_name    1719
dtype: int64